{% extends 'base.html' %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block csslink %}
    <link rel="stylesheet" href="/static/"/>
{% endblock %}

{% block content %}
    <div id="nav" class="mobileonly">
        <a href="/m"><img src="/static/images/logo_garena.png" alt="" id="icon_garena"/></a>

        <div class="languageSelector">
            <div class="languageBar" id="languageBar"> language</div>
            <div class="languageList" id="languageList">
                <a href="?l=en" class="languageItem">English</a>
                <a href="?l=th" class="languageItem">ไทย</a>
                <a href="?l=vi" class="languageItem">Tiếng Việt Nam</a>
                <a href="?l=zh" class="languageItem">中文</a>
            </div>
        </div>
    </div>
{% endblock %}