$text-size: 14px;
$h4: $text-size+4;
$h3: $h4+2;
$h2: $h3+2;
$h1: $h2+4;
$base-font-family: "Helvertica Neue", sans-serif, Arial;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin translate($value) {
  -webkit-transform: translate($value);
  -moz-transform: translate($value);
  -ms-transform: translate($value);
  -o-transform: translate($value);
  transform: translate($value);
}

html, body {
  min-height: 100%;
  font-size: $text-size;
  margin: 0;
  background-color: #ddd;
  font-family: $base-font-family
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  padding: 0;
  margin: 0;
  font-family: $base-font-family
}